@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFF;
    --foreground: #747474;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-size: 12.5px !important;
  font-family: var(--font-axiforma), var(--font-geist-sans), sans-serif !important;
}

.divider {
  display: inline-block;
  position: relative;
  text-align: center;
  color: #333;
}

.divider::before,
.divider::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px; /* para que se extienda al borde */
  height: 1px;
  background: #999;
}

.divider::before {
  right: 100%;
  margin-right: 10px;
}

.divider::after {
  left: 100%;
  margin-left: 10px;
}

